.header {
    font-family: Montserrat;
    font-size: 25px;
    text-align: center;
}

.info {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.userInfo {
    
}
